<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apphelper2019">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ex.retrofit_2_ex.upload_file.ui.Main8Activity"></activity>
        <activity android:name=".ex.retrofit_2_ex.upload_file.ui.Main7Activity" />
        <activity android:name=".ex.retrofit_2_ex.send_obj_in_request_body.ui.Main6Activity" />
        <activity android:name=".ex.retrofit_2_ex.start.ui.Main5Activity" />
        <activity android:name=".ex.login_reg_php_mysql.Main4Activity" />
        <activity android:name=".ex.certificate_ex.Main3Activity" />
        <activity android:name=".ex.volley_ex.RecyclerViewActivity" />
        <activity android:name=".ex.volley_ex.Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ex.actionbar_ex.Main1Activity" />
    </application>

</manifest>